# for core functionality of torchtitan
torchdata >= 0.8.0
datasets >= 3.6.0
tomli
tensorboard
tabulate
wandb
fsspec
tyro
tokenizers >= 0.15.0
safetensors

# for timelyfreeze
scipy
matplotlib
numpy
pandas
nvitop
setproctitle

# for evaluation
transformers
lm_eval